:root {
  --carouselBackground: #555;
  --websiteBackgroundTop: #0EB8B8;
  --websiteBackgroundBottom: #fff;
  --arrow: #fff;
  --menuBackground: #5ce1e6;
  --listEvenBackground: #999;
  --menuTextColor: #000;
}